extends layout

block content
  .row.py-3
    h1.pl-3.ca-header-font= pageHeader.title
  .row.py-3
    h2.pl-3.ca-header-font= pageHeader.tagline
  .row
    

    .card.card-body
      h3.card-title.pb-3 Reserve Today

        form(name='reserve', action='/thanks', method='post')
          .form-group
            label.col-form-label.col-sm-3.pt-3(for='firstname') First Name:
              input#firstname.form-control(type='text', name='firstname', required,
        placeholder='Enter your first name')
          
            label.col-form-label.col-sm-3(for='lastname') Last Name:
              input#lastname.form-control(type='text', name='lastname', required,
        placeholder='Enter your Last name')
            label.col-form-label.col-sm-3(for='phonenumber') Phone Number:
              input#phonenumber.form-control(type='tel', name='phonenumber', required, 
              placeholder='xxx-xxx-xxxx')
            label.col-form-label.col-sm-3(for='email') Email:
              input#email.form-control(type='email', name='email', required, 
              placeholder='Enter email here')
          .form-group
            label.col-form-label.col-sm-3(for='time') Time of Departure:
              select#times.form-control.col-form-lab
                each time in departure
                  option #{time.time}
            label.col-form-label.pr-5.col-sm-3(for='departurepoint') Departure Point:
              select#departurepoint.form-control.col-form-lab
                option Brentwood Bay
                option Mill Bay
            label.col-form-label.pr-5.col-sm-3(for='arrivalpoint') Arrival Point:
              select#arrivalpoint.form-control.col-form-lab
                option Brentwood Bay
                option Mill Bay
            label.col-form-label.col-sm-3(for='vehichlesize') Vechicle:
              select#vehichlesize.form-control.col-form-lab
                option small >>> 10ft?
                option med >>>> 15ft?
                option large >>>> 20ft
                option motorcycle
          .form-group
            label.col-form-label.col-sm-3(for='date') Date of Travel:
              select#date.form-control.col-form-lab
                option #{date.today}
                option #{date.tomorrow}
                option #{date.dayAfter}

          
          .form-group
            
            .col-sm-4.pt-5
              button.btn.btn-success(type='submit') Reserve Ferry

